

body{
	background-color: #04396c;
	/* background-image: url(image/fon.jpg);*/
	font-family: Tahoma,Arial,'Microsoft Sans Serif';
	font-size: 1vw;
	color: white;
	margin-left: 0px;
	margin-bottom: 10px;
}

	
p {
	font-size:1vw;
}

h3 {
	font-size:1.1vw;
}
.alert{
display: block;
	margin: auto;
	text-align: center;
font-size: 1.5vw;
}

/*---------------таблицы--------------------------*/

table {
	border: 2px solid white;
	border-collapse: collapse;
	margin: auto;
	width: 50%;
}

th {border: 2px solid white;
	color: #ffec00;
	font-size: 1.1vw;
	font-weight: 100; 
	}

td {border: 2px solid white;
	text-align: center;
	font-size:1vw;

	}

.head{
	border-collapse: separate;
	color: #ffec00;
	font-size: 1.2vw;
	background-color: #173451;
	letter-spacing: 2px;
	font-weight: 100;
	padding-bottom: 10px;
	padding-top: 10px;
}

.left_cell{
	background-color: #012446;
	padding-bottom: 10px;
	padding-top: 10px;
}

.left_cell_active{
	background-color: #012446;
}

.left_cell_active:hover {background-color: #0f4fa8;}

.right_cell{
	text-align: left;
		padding: 2%;
}

/*---------------контент--------------------------*/
	#content {

		position: relative;
		width: 80%;
		top: 15px;
		margin: auto;


	}

@media all and (max-width: 960px) {

	#content {

		position: relative;
		width: 70%;
		top: 15px;
		margin: auto;

	}
}



@media all and (min-width: 2048px) {

	#content {

		position: relative;
		width: 80%;
		top: 15px;
		margin: auto;

	}
}

.center{
	text-align: center;
}

/*---------левое меню--------------------------*/


	#left_menue{

		position: fixed;
		float: left;
		margin-right: 0px;
		margin-left: 1%;
		margin-top: 5%;
		border: 2px solid;
		width: 6%;
		background-color: #0f4fa8;


	}

@media all and (max-width: 960px) {

	#left_menue{
		position: relative;
		float: left;
		margin-right: 0px;
		margin-top: 5%;
		border: 2px solid;
		width: 10%;
	}
}

@media all and (min-width: 2048px) {

	#left_menue{

		position: fixed;
		float: left;
		margin-right: 0px;
		margin-top: 5%;
		border: 2px solid;
		width: 5%;

	}
}


#hmenue{
	font-size: 0.9vw;
	margin-top: 18px;
	text-align: center;
}


.referent{
	margin-bottom: 15px;
	margin-top: 15px;
	text-align: center;
}


@media all and (max-width: 960px) {

	#hmenue{
		font-size: 1.4vw;
		margin-top: 18px;
		text-align: center;
	}

	.referent{
		margin-bottom: 15px;
		margin-top: 15px;
		text-align: center;
		font-size: 1.4vw;
	}
}

@media all and (min-width: 2048px) {

	#hmenue{
		font-size: 0.9vw;
		margin-top: 18px;
		text-align: center;
	}
}
.videlen a:visited {color:#ff7400;}
.videlen a:hover{color: red;}
.videlen a:active {color: yellow; }

.videlen a:hover:before, .videlen .current:before {left: 0;}
.videlen a:hover:after, .videlen .current:after {right: 0;}   

/*---------------текст--------------------------*/
.zagolovok{
	color: #ffec00;
	font-size: 1.2vw;
	text-align: center;
}
.zagolovok_about{
	color: #ffec00;
	font-size: 16pt;
	text-align: left;
}
.color{
	color: #ffec00;
	font-weight: 600;
}

.intable{
	margin-top: 10px;
	margin-bottom: 20px;
}

/*---------------картинки--------------------------*/
.left_picture{
	float: left;
	margin-right: 5px;
	width: 300px;
	height: 200px;
}
.right_picture{
	float: right;
	margin-left: 5px;
	width: 300px;
	height: 200px;
}

/*---------------линия--------------------------*/
hr {
	border: none; 
	background-color: white;
	color: white; 
	height: 2px; 
	margin-top: 0px;
}

@media all and (max-width: 960px) {

	.hidden{
		display:none;
	}
}
/*---------------цвета ссылок--------------------------*/
A:link { text-decoration: none; color: yellow; }
A:visited { text-decoration: none; color: #ff7400; }
A:active { text-decoration: none; color: yellow; }
A:hover { text-decoration: underline overline; 
	color: red; }


     /*------------------------------------*\
	    НАВИГАЦИЯ
	 \*------------------------------------*/


.menu-main {
  list-style: none;
  margin: auto;
  padding: 20px 0 5px;
  text-align: center;
  background: #0f4fa8;
  width: 40%;
  border: 2px solid white;
}



.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: white;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 1.1vw;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a:visited {color:#ff7400;}
.menu-main a:hover{color: red;}
.menu-main a:active {color: yellow; }

.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   

@media all and (max-width: 960px) {

	.menu-main{
		width: 100%;
	}

	.menu-main a {
  margin: 0 10px 0 10px;
}}

.stud{
font-size: 3vw;
}


.podsv a:visited {color:#ff7400;}
.podsv a:hover{color: red;}
.podsv a:active {color: yellow; }

.podsv a:hover:before, .menu-main .current:before {left: 0;}
.podsv a:hover:after, .menu-main .current:after {right: 0;}   


